node_modules
dist
dist-ssr
*.local
.vite
.env
.env.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Coverage
coverage

# Playwright E2E
e2e/.tmp
playwright-report
test-results
.playwright
